--
-- PostgreSQL database cluster dump
--

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Roles
--

CREATE ROLE child_smile_user;
ALTER ROLE child_smile_user WITH NOSUPERUSER INHERIT NOCREATEROLE NOCREATEDB LOGIN NOREPLICATION NOBYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:ykexyP/IOkjcbzYpO1dFyg==$/3PJ2Z5xNuJnwbz4myN29slT6jdKNY5fWpjhn6OwwE4=:VqoYim+pzVqu7CtYvoaFp+cbnKzSCT000p+/9//HJ/Q=';
CREATE ROLE makoletuser;
ALTER ROLE makoletuser WITH NOSUPERUSER INHERIT NOCREATEROLE NOCREATEDB LOGIN NOREPLICATION NOBYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:zESXWtoVfp30wjwV3FIV2Q==$jOfdGqqGiu551/fxJ5LvPUn86cJ8DLdjl9vl+DxGMmc=:YkQRCJFeBQFO9QZh/0YqctGJ+bnesyBoeuhvmYLjlJU=';
CREATE ROLE postgres;
ALTER ROLE postgres WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:KwxNxsk3DtUlIHntKo5xIQ==$Qu83LnxEnx26oBboQqz6eSC/zHunr3B93PFBDfimzik=:3PWgYz8K3yIK9iagj+ylD7acQwJ9x3zVNwBR92rgvvA=';

--
-- User Configurations
--

--
-- User Config "child_smile_user"
--

ALTER ROLE child_smile_user SET search_path TO 'public';

--
-- User Config "makoletuser"
--

ALTER ROLE makoletuser SET client_encoding TO 'utf8';
ALTER ROLE makoletuser SET default_transaction_isolation TO 'read committed';
ALTER ROLE makoletuser SET "TimeZone" TO 'UTC';








--
-- Databases
--

--
-- Database "template1" dump
--

\connect template1

--
-- PostgreSQL database dump
--

-- Dumped from database version 16.4
-- Dumped by pg_dump version 16.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

--
-- Database "child_smile_db" dump
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 16.4
-- Dumped by pg_dump version 16.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: child_smile_db; Type: DATABASE; Schema: -; Owner: child_smile_user
--

CREATE DATABASE child_smile_db WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'English_Israel.1252';


ALTER DATABASE child_smile_db OWNER TO child_smile_user;

\connect child_smile_db

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: child_smile_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO child_smile_user;

--
-- Name: marital_status; Type: TYPE; Schema: public; Owner: child_smile_user
--

CREATE TYPE public.marital_status AS ENUM (
    '╫á╫⌐╫ò╫É╫Ö╫¥',
    '╫Æ╫¿╫ò╫⌐╫Ö╫¥',
    '╫ñ╫¿╫ò╫ô╫Ö╫¥',
    '╫É╫Ö╫ƒ'
);


ALTER TYPE public.marital_status OWNER TO child_smile_user;

--
-- Name: tutoring_status; Type: TYPE; Schema: public; Owner: child_smile_user
--

CREATE TYPE public.tutoring_status AS ENUM (
    '╫£╫₧╫ª╫ò╫É_╫ù╫ò╫á╫Ü',
    '╫£╫É_╫¿╫ò╫ª╫Ö╫¥',
    '╫£╫É_╫¿╫£╫ò╫ò╫á╫ÿ╫Ö',
    '╫æ╫ò╫Æ╫¿',
    '╫Ö╫⌐_╫ù╫ò╫á╫Ü',
    '╫£╫₧╫ª╫ò╫É_╫ù╫ò╫á╫Ü_╫É╫Ö╫ƒ_╫æ╫É╫Ö╫û╫ò╫¿_╫⌐╫£╫ò',
    '╫£╫₧╫ª╫ò╫É_╫ù╫ò╫á╫Ü_╫æ╫ó╫ô╫Ö╫ñ╫ò╫¬_╫Æ╫æ╫ò╫ö',
    '╫⌐╫Ö╫ô╫ò╫Ü_╫æ╫í╫Ö╫₧╫ƒ_╫⌐╫É╫£╫ö'
);


ALTER TYPE public.tutoring_status OWNER TO child_smile_user;

--
-- Name: tutorship_status; Type: TYPE; Schema: public; Owner: child_smile_user
--

CREATE TYPE public.tutorship_status AS ENUM (
    '╫Ö╫⌐_╫ù╫á╫Ö╫Ü',
    '╫É╫Ö╫ƒ_╫ù╫á╫Ö╫Ü',
    '╫£╫É_╫û╫₧╫Ö╫ƒ_╫£╫⌐╫Ö╫æ╫ò╫Ñ'
);


ALTER TYPE public.tutorship_status OWNER TO child_smile_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: child_smile_user
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO child_smile_user;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: child_smile_user
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: child_smile_user
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO child_smile_user;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: child_smile_user
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: child_smile_user
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO child_smile_user;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: child_smile_user
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: child_smile_user
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO child_smile_user;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: child_smile_user
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO child_smile_user;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: child_smile_user
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: child_smile_user
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: child_smile_user
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO child_smile_user;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: child_smile_user
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: childsmile_app_children; Type: TABLE; Schema: public; Owner: child_smile_user
--

CREATE TABLE public.childsmile_app_children (
    child_id bigint NOT NULL,
    childfirstname character varying(255) NOT NULL,
    childsurname character varying(255) NOT NULL,
    registrationdate date NOT NULL,
    lastupdateddate date NOT NULL,
    gender boolean NOT NULL,
    responsible_coordinator character varying(255) NOT NULL,
    city character varying(255) NOT NULL,
    child_phone_number character varying(20) NOT NULL,
    treating_hospital character varying(255) NOT NULL,
    date_of_birth date NOT NULL,
    medical_diagnosis character varying(255),
    diagnosis_date date,
    marital_status character varying(50) NOT NULL,
    num_of_siblings integer NOT NULL,
    details_for_tutoring text NOT NULL,
    additional_info text,
    tutoring_status character varying(50) NOT NULL,
    current_medical_state character varying(255),
    when_completed_treatments date,
    father_name character varying(255),
    father_phone character varying(20),
    mother_name character varying(255),
    mother_phone character varying(20),
    street_and_apartment_number character varying(255),
    expected_end_treatment_by_protocol date,
    has_completed_treatments boolean
);


ALTER TABLE public.childsmile_app_children OWNER TO child_smile_user;

--
-- Name: childsmile_app_feedback; Type: TABLE; Schema: public; Owner: child_smile_user
--

CREATE TABLE public.childsmile_app_feedback (
    feedback_id integer NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    event_date timestamp with time zone NOT NULL,
    staff_id integer NOT NULL,
    description text NOT NULL,
    exceptional_events text,
    anything_else text,
    comments text
);


ALTER TABLE public.childsmile_app_feedback OWNER TO child_smile_user;

--
-- Name: childsmile_app_feedback_feedback_id_seq; Type: SEQUENCE; Schema: public; Owner: child_smile_user
--

ALTER TABLE public.childsmile_app_feedback ALTER COLUMN feedback_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.childsmile_app_feedback_feedback_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: childsmile_app_general_v_feedback; Type: TABLE; Schema: public; Owner: child_smile_user
--

CREATE TABLE public.childsmile_app_general_v_feedback (
    feedback_id_id integer NOT NULL,
    volunteer_name character varying(255) NOT NULL,
    volunteer_id integer NOT NULL
);


ALTER TABLE public.childsmile_app_general_v_feedback OWNER TO child_smile_user;

--
-- Name: childsmile_app_general_volunteer; Type: TABLE; Schema: public; Owner: child_smile_user
--

CREATE TABLE public.childsmile_app_general_volunteer (
    id_id integer NOT NULL,
    staff_id integer NOT NULL,
    signupdate date NOT NULL,
    comments text
);


ALTER TABLE public.childsmile_app_general_volunteer OWNER TO child_smile_user;

--
-- Name: childsmile_app_healthy; Type: TABLE; Schema: public; Owner: child_smile_user
--

CREATE TABLE public.childsmile_app_healthy (
    child_id_id bigint NOT NULL,
    street_and_apartment_number character varying(255),
    father_name character varying(255),
    father_phone character varying(20),
    mother_name character varying(255),
    mother_phone character varying(20)
);


ALTER TABLE public.childsmile_app_healthy OWNER TO child_smile_user;

--
-- Name: childsmile_app_matures; Type: TABLE; Schema: public; Owner: child_smile_user
--

CREATE TABLE public.childsmile_app_matures (
    "timestamp" timestamp with time zone NOT NULL,
    child_id bigint NOT NULL,
    full_address character varying(255) NOT NULL,
    current_medical_state character varying(255),
    when_completed_treatments date,
    parent_name character varying(255),
    parent_phone character varying(20),
    additional_info text,
    general_comment text
);


ALTER TABLE public.childsmile_app_matures OWNER TO child_smile_user;

--
-- Name: childsmile_app_pending_tutor; Type: TABLE; Schema: public; Owner: child_smile_user
--

CREATE TABLE public.childsmile_app_pending_tutor (
    pending_tutor_id integer NOT NULL,
    id_id integer NOT NULL,
    pending_status character varying(255) NOT NULL
);


ALTER TABLE public.childsmile_app_pending_tutor OWNER TO child_smile_user;

--
-- Name: childsmile_app_pending_tutor_pending_tutor_id_seq; Type: SEQUENCE; Schema: public; Owner: child_smile_user
--

ALTER TABLE public.childsmile_app_pending_tutor ALTER COLUMN pending_tutor_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.childsmile_app_pending_tutor_pending_tutor_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: childsmile_app_permissions; Type: TABLE; Schema: public; Owner: child_smile_user
--

CREATE TABLE public.childsmile_app_permissions (
    permission_id integer NOT NULL,
    role_id integer NOT NULL,
    resource character varying(255) NOT NULL,
    action character varying(255) NOT NULL
);


ALTER TABLE public.childsmile_app_permissions OWNER TO child_smile_user;

--
-- Name: childsmile_app_permissions_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: child_smile_user
--

ALTER TABLE public.childsmile_app_permissions ALTER COLUMN permission_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.childsmile_app_permissions_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: childsmile_app_possiblematches; Type: TABLE; Schema: public; Owner: child_smile_user
--

CREATE TABLE public.childsmile_app_possiblematches (
    match_id integer NOT NULL,
    child_id bigint NOT NULL,
    tutor_id integer NOT NULL,
    child_full_name character varying(255) NOT NULL,
    tutor_full_name character varying(255) NOT NULL,
    child_city character varying(255) NOT NULL,
    tutor_city character varying(255) NOT NULL,
    child_age integer NOT NULL,
    tutor_age integer NOT NULL,
    distance_between_cities integer NOT NULL,
    grade integer NOT NULL,
    is_used boolean NOT NULL
);


ALTER TABLE public.childsmile_app_possiblematches OWNER TO child_smile_user;

--
-- Name: childsmile_app_possiblematches_match_id_seq; Type: SEQUENCE; Schema: public; Owner: child_smile_user
--

ALTER TABLE public.childsmile_app_possiblematches ALTER COLUMN match_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.childsmile_app_possiblematches_match_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: childsmile_app_role; Type: TABLE; Schema: public; Owner: child_smile_user
--

CREATE TABLE public.childsmile_app_role (
    id integer NOT NULL,
    role_name character varying(255) NOT NULL
);


ALTER TABLE public.childsmile_app_role OWNER TO child_smile_user;

--
-- Name: childsmile_app_role_id_seq; Type: SEQUENCE; Schema: public; Owner: child_smile_user
--

ALTER TABLE public.childsmile_app_role ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.childsmile_app_role_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: childsmile_app_signedup; Type: TABLE; Schema: public; Owner: child_smile_user
--

CREATE TABLE public.childsmile_app_signedup (
    id integer NOT NULL,
    first_name character varying(255) NOT NULL,
    surname character varying(255) NOT NULL,
    age integer NOT NULL,
    gender boolean NOT NULL,
    phone character varying(20) NOT NULL,
    city character varying(255) NOT NULL,
    comment text,
    email character varying(254),
    want_tutor boolean NOT NULL
);


ALTER TABLE public.childsmile_app_signedup OWNER TO child_smile_user;

--
-- Name: childsmile_app_signedup_id_seq; Type: SEQUENCE; Schema: public; Owner: child_smile_user
--

ALTER TABLE public.childsmile_app_signedup ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.childsmile_app_signedup_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: childsmile_app_staff; Type: TABLE; Schema: public; Owner: child_smile_user
--

CREATE TABLE public.childsmile_app_staff (
    staff_id integer NOT NULL,
    username character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    role_id integer NOT NULL,
    email character varying(255) NOT NULL,
    first_name character varying(255) NOT NULL,
    last_name character varying(255) NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.childsmile_app_staff OWNER TO child_smile_user;

--
-- Name: childsmile_app_staff_staff_id_seq; Type: SEQUENCE; Schema: public; Owner: child_smile_user
--

ALTER TABLE public.childsmile_app_staff ALTER COLUMN staff_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.childsmile_app_staff_staff_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: childsmile_app_task_types; Type: TABLE; Schema: public; Owner: child_smile_user
--

CREATE TABLE public.childsmile_app_task_types (
    id integer NOT NULL,
    task_type character varying(255) NOT NULL
);


ALTER TABLE public.childsmile_app_task_types OWNER TO child_smile_user;

--
-- Name: childsmile_app_task_types_id_seq; Type: SEQUENCE; Schema: public; Owner: child_smile_user
--

ALTER TABLE public.childsmile_app_task_types ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.childsmile_app_task_types_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: childsmile_app_tasks; Type: TABLE; Schema: public; Owner: child_smile_user
--

CREATE TABLE public.childsmile_app_tasks (
    task_id integer NOT NULL,
    description text NOT NULL,
    due_date date NOT NULL,
    status character varying(255) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    assigned_to_id integer NOT NULL,
    related_child_id integer,
    related_tutor_id integer,
    task_type_id integer NOT NULL
);


ALTER TABLE public.childsmile_app_tasks OWNER TO child_smile_user;

--
-- Name: childsmile_app_tasks_task_id_seq; Type: SEQUENCE; Schema: public; Owner: child_smile_user
--

ALTER TABLE public.childsmile_app_tasks ALTER COLUMN task_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.childsmile_app_tasks_task_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: childsmile_app_tutor_feedback; Type: TABLE; Schema: public; Owner: child_smile_user
--

CREATE TABLE public.childsmile_app_tutor_feedback (
    feedback_id_id integer NOT NULL,
    tutee_name character varying(255) NOT NULL,
    tutor_name character varying(255) NOT NULL,
    tutor_id integer NOT NULL,
    is_it_your_tutee boolean NOT NULL,
    is_first_visit boolean NOT NULL
);


ALTER TABLE public.childsmile_app_tutor_feedback OWNER TO child_smile_user;

--
-- Name: childsmile_app_tutors; Type: TABLE; Schema: public; Owner: child_smile_user
--

CREATE TABLE public.childsmile_app_tutors (
    id_id integer NOT NULL,
    staff_id integer NOT NULL,
    tutorship_status character varying(255) NOT NULL,
    preferences text,
    tutor_email character varying(254),
    relationship_status character varying(255),
    tutee_wellness character varying(255)
);


ALTER TABLE public.childsmile_app_tutors OWNER TO child_smile_user;

--
-- Name: childsmile_app_tutorships; Type: TABLE; Schema: public; Owner: child_smile_user
--

CREATE TABLE public.childsmile_app_tutorships (
    id integer NOT NULL,
    child_id bigint NOT NULL,
    tutor_id integer NOT NULL
);


ALTER TABLE public.childsmile_app_tutorships OWNER TO child_smile_user;

--
-- Name: childsmile_app_tutorships_id_seq; Type: SEQUENCE; Schema: public; Owner: child_smile_user
--

ALTER TABLE public.childsmile_app_tutorships ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.childsmile_app_tutorships_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: child_smile_user
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO child_smile_user;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: child_smile_user
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: child_smile_user
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO child_smile_user;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: child_smile_user
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: child_smile_user
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO child_smile_user;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: child_smile_user
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: child_smile_user
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO child_smile_user;

--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: child_smile_user
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: child_smile_user
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: child_smile_user
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: child_smile_user
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: child_smile_user
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: child_smile_user
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: childsmile_app_children; Type: TABLE DATA; Schema: public; Owner: child_smile_user
--



--
-- Data for Name: childsmile_app_feedback; Type: TABLE DATA; Schema: public; Owner: child_smile_user
--

COPY public.childsmile_app_feedback (feedback_id, "timestamp", event_date, staff_id, description, exceptional_events, anything_else, comments) FROM stdin;
\.


--
-- Data for Name: childsmile_app_general_v_feedback; Type: TABLE DATA; Schema: public; Owner: child_smile_user
--

COPY public.childsmile_app_general_v_feedback (feedback_id_id, volunteer_name, volunteer_id) FROM stdin;
\.


--
-- Data for Name: childsmile_app_general_volunteer; Type: TABLE DATA; Schema: public; Owner: child_smile_user
--

COPY public.childsmile_app_general_volunteer (id_id, staff_id, signupdate, comments) FROM stdin;
1	8	2025-03-16	
2	9	2025-03-16	
3	10	2025-03-16	
\.


--
-- Data for Name: childsmile_app_healthy; Type: TABLE DATA; Schema: public; Owner: child_smile_user
--

COPY public.childsmile_app_healthy (child_id_id, street_and_apartment_number, father_name, father_phone, mother_name, mother_phone) FROM stdin;
352233214	╫ö╫₧╫£╫É╫¢╫ö 3	╫É╫æ╫¿╫ö╫¥	050-1234567	╫É╫í╫¬╫¿	050-7654321
\.


--
-- Data for Name: childsmile_app_matures; Type: TABLE DATA; Schema: public; Owner: child_smile_user
--

COPY public.childsmile_app_matures ("timestamp", child_id, full_address, current_medical_state, when_completed_treatments, parent_name, parent_phone, additional_info, general_comment) FROM stdin;
2025-03-16 20:44:46.602982+02	352233215	╫û╫É╫æ ╫⌐╫ò╫ö╫¥ 12	╫ö╫¬╫ù╫Ö╫£ ╫¢╫Ö╫₧╫ò╫¬╫¿╫ñ╫Ö╫ö	\N			╫₧╫Ö╫ô╫ó ╫á╫ò╫í╫ú	
2025-03-16 20:44:46.602982+02	352233216	╫Ö╫ª╫ù╫º ╫⌐╫ô╫ö 12	╫ö╫¬╫ù╫Ö╫£ ╫¢╫Ö╫₧╫ò╫¬╫¿╫ñ╫Ö╫ö	\N	╫É╫æ╫Ö	052-1232267	╫₧╫Ö╫ô╫ó ╫á╫ò╫í╫ú	
\.


--
-- Data for Name: childsmile_app_pending_tutor; Type: TABLE DATA; Schema: public; Owner: child_smile_user
--

COPY public.childsmile_app_pending_tutor (pending_tutor_id, id_id, pending_status) FROM stdin;
1	4	╫₧╫₧╫¬╫Ö╫ƒ
2	5	╫₧╫₧╫¬╫Ö╫ƒ
3	6	╫₧╫₧╫¬╫Ö╫ƒ
\.


--
-- Data for Name: childsmile_app_permissions; Type: TABLE DATA; Schema: public; Owner: child_smile_user
--



--
-- Data for Name: childsmile_app_possiblematches; Type: TABLE DATA; Schema: public; Owner: child_smile_user
--

COPY public.childsmile_app_possiblematches (match_id, child_id, tutor_id, child_full_name, tutor_full_name, child_city, tutor_city, child_age, tutor_age, distance_between_cities, grade, is_used) FROM stdin;
6	352233211	8	╫É╫æ╫Ö╫Æ╫Ö╫£ ╫Æ╫ò╫£╫ô╫⌐╫ÿ╫Ö╫Ö╫ƒ	╫É╫æ╫Ö╫ÿ╫£ ╫Æ╫ò╫£╫ô╫⌐╫ÿ╫Ö╫Ö╫ƒ	╫ó╫¢╫ò	╫ó╫¢╫ò	10	22	0	100	f
7	3522332129	10	╫⌐╫₧╫ó╫ò╫ƒ ╫¢╫ö╫ƒ	╫É╫£╫ó╫û╫¿ ╫æ╫ò╫û╫Æ╫£╫ò	╫ó╫¢╫ò	╫ó╫¢╫ò	8	20	0	100	t
\.


--
-- Data for Name: childsmile_app_role; Type: TABLE DATA; Schema: public; Owner: child_smile_user
--

COPY public.childsmile_app_role (id, role_name) FROM stdin;
8	Technical Coordinator
9	Volunteer Coordinator
10	Families Coordinator
11	Tutors Coordinator
12	Matures Coordinator
13	Healthy Kids Coordinator
14	System Administrator
15	General Volunteer
16	Tutor
\.


--
-- Data for Name: childsmile_app_signedup; Type: TABLE DATA; Schema: public; Owner: child_smile_user
--



--
-- Data for Name: childsmile_app_staff; Type: TABLE DATA; Schema: public; Owner: child_smile_user
--



--
-- Data for Name: childsmile_app_task_types; Type: TABLE DATA; Schema: public; Owner: child_smile_user
--

COPY public.childsmile_app_task_types (id, task_type) FROM stdin;
1	╫¿╫É╫Ö╫ò╫ƒ ╫₧╫ò╫ó╫₧╫ô ╫£╫ù╫ò╫á╫¢╫ò╫¬
2	╫ö╫ò╫í╫ñ╫¬ ╫ù╫ò╫á╫Ü
3	╫ö╫¬╫É╫₧╫¬ ╫ù╫á╫Ö╫Ü
4	╫ö╫ò╫í╫ñ╫¬ ╫₧╫⌐╫ñ╫ù╫ö
5	╫æ╫ô╫Ö╫º╫¬ ╫₧╫ª╫æ ╫₧╫⌐╫ñ╫ù╫ö
6	╫ó╫ô╫¢╫ò╫ƒ ╫₧╫⌐╫ñ╫ù╫ö
7	╫₧╫ù╫Ö╫º╫¬ ╫₧╫⌐╫ñ╫ù╫ö
8	╫ö╫ò╫í╫ñ╫¬ ╫æ╫¿╫Ö╫É
9	╫í╫º╫Ö╫¿╫¬ ╫æ╫ò╫Æ╫¿
10	╫ù╫ò╫á╫¢╫ò╫¬
11	╫₧╫⌐╫ò╫æ ╫ù╫ò╫á╫Ü
12	╫í╫º╫Ö╫¿╫¬ ╫₧╫⌐╫ò╫æ ╫ù╫ò╫á╫Ü
13	╫₧╫⌐╫ò╫æ ╫₧╫¬╫á╫ô╫æ ╫¢╫£╫£╫Ö
14	╫í╫º╫Ö╫¿╫¬ ╫₧╫⌐╫ò╫æ ╫₧╫¬╫á╫ô╫æ ╫¢╫£╫£╫Ö
15	╫Ö╫ª╫Ö╫¿╫¬ ╫ô╫ò╫ù ╫₧╫⌐╫ò╫æ
\.


--
-- Data for Name: childsmile_app_tasks; Type: TABLE DATA; Schema: public; Owner: child_smile_user
--



--
-- Data for Name: childsmile_app_tutor_feedback; Type: TABLE DATA; Schema: public; Owner: child_smile_user
--

COPY public.childsmile_app_tutor_feedback (feedback_id_id, tutee_name, tutor_name, tutor_id, is_it_your_tutee, is_first_visit) FROM stdin;
\.


--
-- Data for Name: childsmile_app_tutors; Type: TABLE DATA; Schema: public; Owner: child_smile_user
--

COPY public.childsmile_app_tutors (id_id, staff_id, tutorship_status, preferences, tutor_email, relationship_status, tutee_wellness) FROM stdin;
7	14	╫É╫Ö╫ƒ_╫ù╫á╫Ö╫Ü		noar@mail.com		
8	15	╫É╫Ö╫ƒ_╫ù╫á╫Ö╫Ü		avigold@mail.com		
10	17	╫Ö╫⌐_╫ù╫á╫Ö╫Ü		elazbu@mail.com	╫á╫⌐╫ò╫É╫Ö╫¥	╫ö╫¬╫ù╫Ö╫£ ╫¢╫Ö╫₧╫ò╫¬╫¿╫ñ╫Ö╫ö
\.


--
-- Data for Name: childsmile_app_tutorships; Type: TABLE DATA; Schema: public; Owner: child_smile_user
--

COPY public.childsmile_app_tutorships (id, child_id, tutor_id) FROM stdin;
1	3522332129	10
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: child_smile_user
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: child_smile_user
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: child_smile_user
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: child_smile_user
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: child_smile_user
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: child_smile_user
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: child_smile_user
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 92, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: child_smile_user
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: child_smile_user
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, false);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: child_smile_user
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: childsmile_app_feedback_feedback_id_seq; Type: SEQUENCE SET; Schema: public; Owner: child_smile_user
--

SELECT pg_catalog.setval('public.childsmile_app_feedback_feedback_id_seq', 1, false);


--
-- Name: childsmile_app_pending_tutor_pending_tutor_id_seq; Type: SEQUENCE SET; Schema: public; Owner: child_smile_user
--

SELECT pg_catalog.setval('public.childsmile_app_pending_tutor_pending_tutor_id_seq', 7, true);


--
-- Name: childsmile_app_permissions_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: child_smile_user
--

SELECT pg_catalog.setval('public.childsmile_app_permissions_permission_id_seq', 344, true);


--
-- Name: childsmile_app_possiblematches_match_id_seq; Type: SEQUENCE SET; Schema: public; Owner: child_smile_user
--

SELECT pg_catalog.setval('public.childsmile_app_possiblematches_match_id_seq', 7, true);


--
-- Name: childsmile_app_role_id_seq; Type: SEQUENCE SET; Schema: public; Owner: child_smile_user
--

SELECT pg_catalog.setval('public.childsmile_app_role_id_seq', 16, true);


--
-- Name: childsmile_app_signedup_id_seq; Type: SEQUENCE SET; Schema: public; Owner: child_smile_user
--

SELECT pg_catalog.setval('public.childsmile_app_signedup_id_seq', 10, true);


--
-- Name: childsmile_app_staff_staff_id_seq; Type: SEQUENCE SET; Schema: public; Owner: child_smile_user
--

SELECT pg_catalog.setval('public.childsmile_app_staff_staff_id_seq', 17, true);


--
-- Name: childsmile_app_task_types_id_seq; Type: SEQUENCE SET; Schema: public; Owner: child_smile_user
--

SELECT pg_catalog.setval('public.childsmile_app_task_types_id_seq', 15, true);


--
-- Name: childsmile_app_tasks_task_id_seq; Type: SEQUENCE SET; Schema: public; Owner: child_smile_user
--

SELECT pg_catalog.setval('public.childsmile_app_tasks_task_id_seq', 15, true);


--
-- Name: childsmile_app_tutorships_id_seq; Type: SEQUENCE SET; Schema: public; Owner: child_smile_user
--

SELECT pg_catalog.setval('public.childsmile_app_tutorships_id_seq', 1, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: child_smile_user
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: child_smile_user
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 23, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: child_smile_user
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 27, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: childsmile_app_children childsmile_app_children_pkey; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_children
    ADD CONSTRAINT childsmile_app_children_pkey PRIMARY KEY (child_id);


--
-- Name: childsmile_app_feedback childsmile_app_feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_feedback
    ADD CONSTRAINT childsmile_app_feedback_pkey PRIMARY KEY (feedback_id);


--
-- Name: childsmile_app_general_v_feedback childsmile_app_general_v_feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_general_v_feedback
    ADD CONSTRAINT childsmile_app_general_v_feedback_pkey PRIMARY KEY (feedback_id_id);


--
-- Name: childsmile_app_general_volunteer childsmile_app_general_volunteer_pkey; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_general_volunteer
    ADD CONSTRAINT childsmile_app_general_volunteer_pkey PRIMARY KEY (id_id);


--
-- Name: childsmile_app_healthy childsmile_app_healthy_pkey; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_healthy
    ADD CONSTRAINT childsmile_app_healthy_pkey PRIMARY KEY (child_id_id);


--
-- Name: childsmile_app_matures childsmile_app_matures_pkey; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_matures
    ADD CONSTRAINT childsmile_app_matures_pkey PRIMARY KEY (child_id);


--
-- Name: childsmile_app_pending_tutor childsmile_app_pending_tutor_pkey; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_pending_tutor
    ADD CONSTRAINT childsmile_app_pending_tutor_pkey PRIMARY KEY (pending_tutor_id);


--
-- Name: childsmile_app_permissions childsmile_app_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_permissions
    ADD CONSTRAINT childsmile_app_permissions_pkey PRIMARY KEY (permission_id);


--
-- Name: childsmile_app_possiblematches childsmile_app_possiblematches_pkey; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_possiblematches
    ADD CONSTRAINT childsmile_app_possiblematches_pkey PRIMARY KEY (match_id);


--
-- Name: childsmile_app_role childsmile_app_role_pkey; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_role
    ADD CONSTRAINT childsmile_app_role_pkey PRIMARY KEY (id);


--
-- Name: childsmile_app_role childsmile_app_role_role_name_key; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_role
    ADD CONSTRAINT childsmile_app_role_role_name_key UNIQUE (role_name);


--
-- Name: childsmile_app_signedup childsmile_app_signedup_pkey; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_signedup
    ADD CONSTRAINT childsmile_app_signedup_pkey PRIMARY KEY (id);


--
-- Name: childsmile_app_staff childsmile_app_staff_email_key; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_staff
    ADD CONSTRAINT childsmile_app_staff_email_key UNIQUE (email);


--
-- Name: childsmile_app_staff childsmile_app_staff_pkey; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_staff
    ADD CONSTRAINT childsmile_app_staff_pkey PRIMARY KEY (staff_id);


--
-- Name: childsmile_app_staff childsmile_app_staff_username_key; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_staff
    ADD CONSTRAINT childsmile_app_staff_username_key UNIQUE (username);


--
-- Name: childsmile_app_task_types childsmile_app_task_types_pkey; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_task_types
    ADD CONSTRAINT childsmile_app_task_types_pkey PRIMARY KEY (id);


--
-- Name: childsmile_app_task_types childsmile_app_task_types_task_type_key; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_task_types
    ADD CONSTRAINT childsmile_app_task_types_task_type_key UNIQUE (task_type);


--
-- Name: childsmile_app_tasks childsmile_app_tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_tasks
    ADD CONSTRAINT childsmile_app_tasks_pkey PRIMARY KEY (task_id);


--
-- Name: childsmile_app_tutor_feedback childsmile_app_tutor_feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_tutor_feedback
    ADD CONSTRAINT childsmile_app_tutor_feedback_pkey PRIMARY KEY (feedback_id_id);


--
-- Name: childsmile_app_tutors childsmile_app_tutors_pkey; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_tutors
    ADD CONSTRAINT childsmile_app_tutors_pkey PRIMARY KEY (id_id);


--
-- Name: childsmile_app_tutorships childsmile_app_tutorships_pkey; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_tutorships
    ADD CONSTRAINT childsmile_app_tutorships_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: child_smile_user
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: child_smile_user
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: child_smile_user
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: child_smile_user
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: child_smile_user
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: child_smile_user
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: child_smile_user
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: child_smile_user
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: child_smile_user
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: childsmile_app_feedback_staff_id_7b92dfbd; Type: INDEX; Schema: public; Owner: child_smile_user
--

CREATE INDEX childsmile_app_feedback_staff_id_7b92dfbd ON public.childsmile_app_feedback USING btree (staff_id);


--
-- Name: childsmile_app_general_v_feedback_volunteer_id_c0260bb4; Type: INDEX; Schema: public; Owner: child_smile_user
--

CREATE INDEX childsmile_app_general_v_feedback_volunteer_id_c0260bb4 ON public.childsmile_app_general_v_feedback USING btree (volunteer_id);


--
-- Name: childsmile_app_general_volunteer_staff_id_ad1c342d; Type: INDEX; Schema: public; Owner: child_smile_user
--

CREATE INDEX childsmile_app_general_volunteer_staff_id_ad1c342d ON public.childsmile_app_general_volunteer USING btree (staff_id);


--
-- Name: childsmile_app_pending_tutor_id_id_f8d114a6; Type: INDEX; Schema: public; Owner: child_smile_user
--

CREATE INDEX childsmile_app_pending_tutor_id_id_f8d114a6 ON public.childsmile_app_pending_tutor USING btree (id_id);


--
-- Name: childsmile_app_permissions_role_id_7bf98cd7; Type: INDEX; Schema: public; Owner: child_smile_user
--

CREATE INDEX childsmile_app_permissions_role_id_7bf98cd7 ON public.childsmile_app_permissions USING btree (role_id);


--
-- Name: childsmile_app_role_role_name_154049b6_like; Type: INDEX; Schema: public; Owner: child_smile_user
--

CREATE INDEX childsmile_app_role_role_name_154049b6_like ON public.childsmile_app_role USING btree (role_name varchar_pattern_ops);


--
-- Name: childsmile_app_staff_email_9c33a79e_like; Type: INDEX; Schema: public; Owner: child_smile_user
--

CREATE INDEX childsmile_app_staff_email_9c33a79e_like ON public.childsmile_app_staff USING btree (email varchar_pattern_ops);


--
-- Name: childsmile_app_staff_role_id_24c33eeb; Type: INDEX; Schema: public; Owner: child_smile_user
--

CREATE INDEX childsmile_app_staff_role_id_24c33eeb ON public.childsmile_app_staff USING btree (role_id);


--
-- Name: childsmile_app_staff_username_02d72819_like; Type: INDEX; Schema: public; Owner: child_smile_user
--

CREATE INDEX childsmile_app_staff_username_02d72819_like ON public.childsmile_app_staff USING btree (username varchar_pattern_ops);


--
-- Name: childsmile_app_task_types_task_type_10715153_like; Type: INDEX; Schema: public; Owner: child_smile_user
--

CREATE INDEX childsmile_app_task_types_task_type_10715153_like ON public.childsmile_app_task_types USING btree (task_type varchar_pattern_ops);


--
-- Name: childsmile_app_tasks_assigned_to_id_f6c2927f; Type: INDEX; Schema: public; Owner: child_smile_user
--

CREATE INDEX childsmile_app_tasks_assigned_to_id_f6c2927f ON public.childsmile_app_tasks USING btree (assigned_to_id);


--
-- Name: childsmile_app_tasks_related_child_id_4b83f3da; Type: INDEX; Schema: public; Owner: child_smile_user
--

CREATE INDEX childsmile_app_tasks_related_child_id_4b83f3da ON public.childsmile_app_tasks USING btree (related_child_id);


--
-- Name: childsmile_app_tasks_related_tutor_id_b1f0f8a1; Type: INDEX; Schema: public; Owner: child_smile_user
--

CREATE INDEX childsmile_app_tasks_related_tutor_id_b1f0f8a1 ON public.childsmile_app_tasks USING btree (related_tutor_id);


--
-- Name: childsmile_app_tasks_task_type_id_6488db31; Type: INDEX; Schema: public; Owner: child_smile_user
--

CREATE INDEX childsmile_app_tasks_task_type_id_6488db31 ON public.childsmile_app_tasks USING btree (task_type_id);


--
-- Name: childsmile_app_tutor_feedback_tutor_id_dc401869; Type: INDEX; Schema: public; Owner: child_smile_user
--

CREATE INDEX childsmile_app_tutor_feedback_tutor_id_dc401869 ON public.childsmile_app_tutor_feedback USING btree (tutor_id);


--
-- Name: childsmile_app_tutors_staff_id_f4b4ad42; Type: INDEX; Schema: public; Owner: child_smile_user
--

CREATE INDEX childsmile_app_tutors_staff_id_f4b4ad42 ON public.childsmile_app_tutors USING btree (staff_id);


--
-- Name: childsmile_app_tutorships_child_id_c85fcc79; Type: INDEX; Schema: public; Owner: child_smile_user
--

CREATE INDEX childsmile_app_tutorships_child_id_c85fcc79 ON public.childsmile_app_tutorships USING btree (child_id);


--
-- Name: childsmile_app_tutorships_tutor_id_f57132cc; Type: INDEX; Schema: public; Owner: child_smile_user
--

CREATE INDEX childsmile_app_tutorships_tutor_id_f57132cc ON public.childsmile_app_tutorships USING btree (tutor_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: child_smile_user
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: child_smile_user
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: child_smile_user
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: child_smile_user
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: childsmile_app_feedback childsmile_app_feedb_staff_id_7b92dfbd_fk_childsmil; Type: FK CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_feedback
    ADD CONSTRAINT childsmile_app_feedb_staff_id_7b92dfbd_fk_childsmil FOREIGN KEY (staff_id) REFERENCES public.childsmile_app_staff(staff_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: childsmile_app_general_v_feedback childsmile_app_gener_feedback_id_id_2f8585ab_fk_childsmil; Type: FK CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_general_v_feedback
    ADD CONSTRAINT childsmile_app_gener_feedback_id_id_2f8585ab_fk_childsmil FOREIGN KEY (feedback_id_id) REFERENCES public.childsmile_app_feedback(feedback_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: childsmile_app_general_volunteer childsmile_app_gener_id_id_0f1642ef_fk_childsmil; Type: FK CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_general_volunteer
    ADD CONSTRAINT childsmile_app_gener_id_id_0f1642ef_fk_childsmil FOREIGN KEY (id_id) REFERENCES public.childsmile_app_signedup(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: childsmile_app_general_volunteer childsmile_app_gener_staff_id_ad1c342d_fk_childsmil; Type: FK CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_general_volunteer
    ADD CONSTRAINT childsmile_app_gener_staff_id_ad1c342d_fk_childsmil FOREIGN KEY (staff_id) REFERENCES public.childsmile_app_staff(staff_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: childsmile_app_general_v_feedback childsmile_app_gener_volunteer_id_c0260bb4_fk_childsmil; Type: FK CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_general_v_feedback
    ADD CONSTRAINT childsmile_app_gener_volunteer_id_c0260bb4_fk_childsmil FOREIGN KEY (volunteer_id) REFERENCES public.childsmile_app_general_volunteer(id_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: childsmile_app_healthy childsmile_app_healt_child_id_id_42cdc6e4_fk_childsmil; Type: FK CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_healthy
    ADD CONSTRAINT childsmile_app_healt_child_id_id_42cdc6e4_fk_childsmil FOREIGN KEY (child_id_id) REFERENCES public.childsmile_app_children(child_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: childsmile_app_matures childsmile_app_matur_child_id_ecabdd74_fk_childsmil; Type: FK CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_matures
    ADD CONSTRAINT childsmile_app_matur_child_id_ecabdd74_fk_childsmil FOREIGN KEY (child_id) REFERENCES public.childsmile_app_children(child_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: childsmile_app_pending_tutor childsmile_app_pendi_id_id_f8d114a6_fk_childsmil; Type: FK CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_pending_tutor
    ADD CONSTRAINT childsmile_app_pendi_id_id_f8d114a6_fk_childsmil FOREIGN KEY (id_id) REFERENCES public.childsmile_app_signedup(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: childsmile_app_permissions childsmile_app_permi_role_id_7bf98cd7_fk_childsmil; Type: FK CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_permissions
    ADD CONSTRAINT childsmile_app_permi_role_id_7bf98cd7_fk_childsmil FOREIGN KEY (role_id) REFERENCES public.childsmile_app_role(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: childsmile_app_staff childsmile_app_staff_role_id_24c33eeb_fk_childsmile_app_role_id; Type: FK CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_staff
    ADD CONSTRAINT childsmile_app_staff_role_id_24c33eeb_fk_childsmile_app_role_id FOREIGN KEY (role_id) REFERENCES public.childsmile_app_role(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: childsmile_app_tasks childsmile_app_tasks_assigned_to_id_f6c2927f_fk_childsmil; Type: FK CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_tasks
    ADD CONSTRAINT childsmile_app_tasks_assigned_to_id_f6c2927f_fk_childsmil FOREIGN KEY (assigned_to_id) REFERENCES public.childsmile_app_staff(staff_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: childsmile_app_tasks childsmile_app_tasks_related_child_id_4b83f3da_fk_childsmil; Type: FK CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_tasks
    ADD CONSTRAINT childsmile_app_tasks_related_child_id_4b83f3da_fk_childsmil FOREIGN KEY (related_child_id) REFERENCES public.childsmile_app_children(child_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: childsmile_app_tasks childsmile_app_tasks_related_tutor_id_b1f0f8a1_fk_childsmil; Type: FK CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_tasks
    ADD CONSTRAINT childsmile_app_tasks_related_tutor_id_b1f0f8a1_fk_childsmil FOREIGN KEY (related_tutor_id) REFERENCES public.childsmile_app_tutors(id_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: childsmile_app_tasks childsmile_app_tasks_task_type_id_6488db31_fk_childsmil; Type: FK CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_tasks
    ADD CONSTRAINT childsmile_app_tasks_task_type_id_6488db31_fk_childsmil FOREIGN KEY (task_type_id) REFERENCES public.childsmile_app_task_types(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: childsmile_app_tutorships childsmile_app_tutor_child_id_c85fcc79_fk_childsmil; Type: FK CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_tutorships
    ADD CONSTRAINT childsmile_app_tutor_child_id_c85fcc79_fk_childsmil FOREIGN KEY (child_id) REFERENCES public.childsmile_app_children(child_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: childsmile_app_tutor_feedback childsmile_app_tutor_feedback_id_id_2664fba4_fk_childsmil; Type: FK CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_tutor_feedback
    ADD CONSTRAINT childsmile_app_tutor_feedback_id_id_2664fba4_fk_childsmil FOREIGN KEY (feedback_id_id) REFERENCES public.childsmile_app_feedback(feedback_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: childsmile_app_tutors childsmile_app_tutor_id_id_8d3a8a63_fk_childsmil; Type: FK CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_tutors
    ADD CONSTRAINT childsmile_app_tutor_id_id_8d3a8a63_fk_childsmil FOREIGN KEY (id_id) REFERENCES public.childsmile_app_signedup(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: childsmile_app_tutors childsmile_app_tutor_staff_id_f4b4ad42_fk_childsmil; Type: FK CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_tutors
    ADD CONSTRAINT childsmile_app_tutor_staff_id_f4b4ad42_fk_childsmil FOREIGN KEY (staff_id) REFERENCES public.childsmile_app_staff(staff_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: childsmile_app_tutor_feedback childsmile_app_tutor_tutor_id_dc401869_fk_childsmil; Type: FK CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_tutor_feedback
    ADD CONSTRAINT childsmile_app_tutor_tutor_id_dc401869_fk_childsmil FOREIGN KEY (tutor_id) REFERENCES public.childsmile_app_tutors(id_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: childsmile_app_tutorships childsmile_app_tutor_tutor_id_f57132cc_fk_childsmil; Type: FK CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.childsmile_app_tutorships
    ADD CONSTRAINT childsmile_app_tutor_tutor_id_f57132cc_fk_childsmil FOREIGN KEY (tutor_id) REFERENCES public.childsmile_app_tutors(id_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: child_smile_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

--
-- Database "makoletdb" dump
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 16.4
-- Dumped by pg_dump version 16.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: makoletdb; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE makoletdb WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'English_Israel.1252';


ALTER DATABASE makoletdb OWNER TO postgres;

\connect makoletdb

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: makoletuser
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO makoletuser;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: makoletuser
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: makoletuser
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO makoletuser;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: makoletuser
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: makoletuser
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO makoletuser;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: makoletuser
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: makoletuser
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO makoletuser;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: makoletuser
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO makoletuser;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: makoletuser
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: makoletuser
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: makoletuser
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO makoletuser;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: makoletuser
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: budget; Type: TABLE; Schema: public; Owner: makoletuser
--

CREATE TABLE public.budget (
    id bigint NOT NULL,
    "limit" numeric(10,2) NOT NULL,
    current_month_spent numeric(10,2) NOT NULL,
    last_month_spent numeric(10,2) NOT NULL,
    month integer NOT NULL,
    year integer NOT NULL
);


ALTER TABLE public.budget OWNER TO makoletuser;

--
-- Name: budget_budget_id_seq; Type: SEQUENCE; Schema: public; Owner: makoletuser
--

ALTER TABLE public.budget ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.budget_budget_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: purchase; Type: TABLE; Schema: public; Owner: makoletuser
--

CREATE TABLE public.purchase (
    id bigint NOT NULL,
    amount numeric(10,2) NOT NULL,
    date timestamp with time zone NOT NULL
);


ALTER TABLE public.purchase OWNER TO makoletuser;

--
-- Name: budget_purchase_id_seq; Type: SEQUENCE; Schema: public; Owner: makoletuser
--

ALTER TABLE public.purchase ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.budget_purchase_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: makoletuser
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO makoletuser;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: makoletuser
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: makoletuser
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO makoletuser;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: makoletuser
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: makoletuser
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO makoletuser;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: makoletuser
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: makoletuser
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO makoletuser;

--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: makoletuser
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: makoletuser
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: makoletuser
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: makoletuser
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: makoletuser
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: makoletuser
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: budget; Type: TABLE DATA; Schema: public; Owner: makoletuser
--

COPY public.budget (id, "limit", current_month_spent, last_month_spent, month, year) FROM stdin;
2	1000.00	0.00	0.00	10	2024
3	1000.00	100.00	0.00	8	2024
1	5000.00	0.00	0.00	9	2024
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: makoletuser
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: makoletuser
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	budget	budget
8	budget	purchase
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: makoletuser
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: makoletuser
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
\.


--
-- Data for Name: purchase; Type: TABLE DATA; Schema: public; Owner: makoletuser
--

COPY public.purchase (id, amount, date) FROM stdin;
1	100.00	2024-09-01 03:00:00+03
2	-100.00	2024-09-01 03:00:00+03
3	100.00	2024-09-01 03:00:00+03
4	100.00	2024-09-01 03:00:00+03
5	100.00	2024-09-01 03:00:00+03
6	100.00	2024-09-01 03:00:00+03
7	100.00	2024-09-01 03:00:00+03
8	100.00	2024-09-01 03:00:00+03
9	100.00	2024-09-01 03:00:00+03
10	100.00	2024-09-01 03:00:00+03
11	100.00	2024-09-01 03:00:00+03
12	100.00	2024-09-01 03:00:00+03
13	100.00	2024-09-01 03:00:00+03
14	100.00	2024-09-01 03:00:00+03
15	100.00	2024-08-01 03:00:00+03
16	-1200.00	2024-09-01 03:00:00+03
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: makoletuser
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: makoletuser
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: makoletuser
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 32, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: makoletuser
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: makoletuser
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, false);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: makoletuser
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: budget_budget_id_seq; Type: SEQUENCE SET; Schema: public; Owner: makoletuser
--

SELECT pg_catalog.setval('public.budget_budget_id_seq', 3, true);


--
-- Name: budget_purchase_id_seq; Type: SEQUENCE SET; Schema: public; Owner: makoletuser
--

SELECT pg_catalog.setval('public.budget_purchase_id_seq', 48, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: makoletuser
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: makoletuser
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 8, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: makoletuser
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 20, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: makoletuser
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: makoletuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: makoletuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: makoletuser
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: makoletuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: makoletuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: makoletuser
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: makoletuser
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: makoletuser
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: makoletuser
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: makoletuser
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: makoletuser
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: budget budget_budget_month_year_787b22ad_uniq; Type: CONSTRAINT; Schema: public; Owner: makoletuser
--

ALTER TABLE ONLY public.budget
    ADD CONSTRAINT budget_budget_month_year_787b22ad_uniq UNIQUE (month, year);


--
-- Name: budget budget_budget_pkey; Type: CONSTRAINT; Schema: public; Owner: makoletuser
--

ALTER TABLE ONLY public.budget
    ADD CONSTRAINT budget_budget_pkey PRIMARY KEY (id);


--
-- Name: purchase budget_purchase_pkey; Type: CONSTRAINT; Schema: public; Owner: makoletuser
--

ALTER TABLE ONLY public.purchase
    ADD CONSTRAINT budget_purchase_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: makoletuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: makoletuser
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: makoletuser
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: makoletuser
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: makoletuser
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: makoletuser
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: makoletuser
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: makoletuser
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: makoletuser
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: makoletuser
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: makoletuser
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: makoletuser
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: makoletuser
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: makoletuser
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: makoletuser
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: makoletuser
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: makoletuser
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: makoletuser
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: makoletuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: makoletuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: makoletuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: makoletuser
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: makoletuser
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: makoletuser
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: makoletuser
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: makoletuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: makoletuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: DATABASE makoletdb; Type: ACL; Schema: -; Owner: postgres
--

GRANT ALL ON DATABASE makoletdb TO makoletuser;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO makoletuser;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO makoletuser;


--
-- PostgreSQL database dump complete
--

--
-- Database "postgres" dump
--

\connect postgres

--
-- PostgreSQL database dump
--

-- Dumped from database version 16.4
-- Dumped by pg_dump version 16.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: adminpack; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS adminpack WITH SCHEMA pg_catalog;


--
-- Name: EXTENSION adminpack; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION adminpack IS 'administrative functions for PostgreSQL';


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database cluster dump complete
--

