/* screen_styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    direction: rtl;
    margin: 0;
    display: flex;
}
.sidebar {
    background-color: #333;
    color: white;
    width: 200px;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    padding-top: 100px;
}
.sidebar button {
    background-color: #333;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
}
.sidebar button:hover, .sidebar button.active {
    background-color: #ddd;
    color: black;
}
.main-content {
    flex-grow: 1;
    padding: 20px;
}
.header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: left;
    display: flex;
    align-items: center;
}
.header img {
    width: 50px;
    vertical-align: middle;
}
.header h1 {
    margin: 0;
    padding-left: 10px;
}
.header .welcome {
    margin-left: auto;
    margin-right: 20px;
}
.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-container h2 {
    margin-top: 0;
}
.form-container label {
    display: block;
    margin-bottom: 5px;
}
.form-container input,
.form-container select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-container button:hover {
    background-color: #45a049;
}
/* סגנון לשדה טלפון שגוי */
.form-container input.error {
    border: 2px solid red;
}
/* הודעת שגיאה מוסתרת כברירת מחדל */
.error-message {
    color: red;
    font-size: 0.9em;
    display: none;
    margin-top: -5px;
    margin-bottom: 10px;
}