/* common.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    direction: rtl;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse; /* מסדר את התוכן בצד שמאל והסרגל בצד ימין */
    overflow: auto; /* מונע גלילה מיותרת */
}
.sidebar button {
    background-color: #333;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    width: 100%;
    margin-bottom: 10px;
    /* make the buttons be a little lower */
    margin-top: 50px;
}
.sidebar button.active {
    background-color: #4CAF50; /* Green background when active */
    color: black; /* Black text when active */
}
.sidebar {
    background-color: #333;
    color: white;
    width: 200px;
    height: 100vh;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    position: fixed; /* שומר את הסרגל קבוע */
    right: 0; /* מצמיד לימין */
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar button:hover {
    background-color: #ddd; /* Gray background on hover */
    color: black; /* Black text on hover */
}

.main-content {
    flex-grow: 1; /* תופס את כל הרוחב הפנוי */
    padding: 20px;
    margin-right: 200px; /* שומר מקום לסרגל הצד */
    height: 100vh;
    overflow-y: auto; /* אם יש גלילה פנימית */
    display: flex;
    flex-direction: column;
}
.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-container h2 {
    margin-top: 0;
}
.form-container label {
    display: block;
    margin-bottom: 5px;
}
.form-container input,
.form-container select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-container button:hover {
    background-color: #45a049;
}
/* סגנון לשדה טלפון שגוי */
.form-container input.error {
    border: 2px solid red;
}
/* הודעת שגיאה מוסתרת כברירת מחדל */
.error-message {
    color: red;
    font-size: 0.9em;
    display: none;
    margin-top: -5px;
    margin-bottom: 10px;
}
.error-text {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}