.roles-spread-report-main-content {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.roles-spread-report-page-content {
  flex: 1;
  padding-top: 200px;
}

.roles-spread-graph-container {
  margin: 0 auto;
  max-width: 600px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.07);
  padding: 32px;
  transform: scale(0.9);
}
@media (max-width: 1800px) {
  .roles-spread-graph-container {
    transform: scale(1.0);
  }
}

.roles-spread-back-to-reports {
    display: flex;
    justify-content: flex-start;
    /* Align to the right */
    
    /* Add some spacing above */
    margin-right: 500px;
    margin-top: 150px;
    /* Slightly move it to the left from the edge */
}

.roles-spread-back-button {
  background: #2196f3;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 24px;
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 16px;
}