body {
  direction: rtl;
  font-family: Arial, sans-serif;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo {
  margin-bottom: 20px;
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form input {
  margin: 5px 0;
  padding: 10px;
  width: 200px;
}

.login-form button {
  padding: 10px 20px;
  margin-top: 10px;
}

.top-left {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-left img {
  margin: 5px 0;
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}