name: Deploy Django App to Azure Web App

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'child-smile-app'
          slot-name: 'Production'
          package: '.'
          startup-command: >
              python3 -m ensurepip --upgrade &&
              python3 -m pip install --upgrade pip &&
              python3 -m pip install -r /home/site/wwwroot/childsmile/requirements.txt &&
              PYTHONPATH=/home/site/wwwroot/childsmile gunicorn childsmile.wsgi:application --bind 0.0.0.0:8000

