name: Deploy Django App to Azure Web App

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: child-smile-app
          package: .
          clean: true
          startup-command: >
            PYTHONPATH=/home/site/wwwroot/childsmile
            gunicorn childsmile.wsgi:application --bind 0.0.0.0:8000
